MONGODB_URI=your_mongodb_uri
JWT_SECRET=your_jwt_secret
PORT=5000
CLIENT_URL=https://your-frontend-url.vercel.app

EMAIL_HOST=smtp.gmail.com
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password

ESEWA_MERCHANT_ID=EPAYTEST
ESEWA_SECRET_KEY=8g8M8dg76h8dgYS5D8back8n76
ESEWA_PRODUCT_CODE=EPAYTEST
KHALTI_SECRET_KEY=test_secret_key_your_id

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
